# WIX Redirects
Redirect 301 /shipments/sef1 /sunmint-tree-planting-pledges/sef1
Redirect 301 /shipments/pp1 /sunmint-tree-planting-pledges/pp1
Redirect 301 /sunmint/sef1 /sunmint-tree-planting-pledges/sef1
Redirect 301 /sunmint/pp1 /sunmint-tree-planting-pledges/pp1
Redirect 301 /shipments/agl0 /agroverse-shipments/agl0
Redirect 301 /shipments/agl5 /agroverse-shipments/agl5
Redirect 301 /shipments/agl1 /agroverse-shipments/agl1
Redirect 301 /shipments/agl3 /agroverse-shipments/agl3
Redirect 301 /shipments/agl2 /agroverse-shipments/agl2
Redirect 301 /shipments/agl7 /agroverse-shipments/agl7
Redirect 301 /shipments/agl6 /agroverse-shipments/agl6
Redirect 301 /shipments/agl13 /agroverse-shipments/agl13
Redirect 301 /shipments/agl4 /agroverse-shipments/agl4
Redirect 301 /shipments/agl8 /agroverse-shipments/agl8
Redirect 301 /shipments/agl10 /agroverse-shipments/agl10
Redirect 301 /shipments/agl14 /agroverse-shipments/agl14

# External resource redirects (for external links)
Redirect 301 /whitepaper https://docs.google.com/document/d/1P-IJq71N0lXszUOdqdjrGwonZAfEuG1q_tJFDdKKIic/edit
Redirect 301 /ledger https://docs.google.com/spreadsheets/d/1GE7PUq-UT6x2rBN-Q2ksogbWpgyuh2SaxJyG_uEK6PU
